<div class="col-md-12 container py-2">
  <div class="row m-0">
    <div class="col-md-3 p-1">
      <app-add-inv-item></app-add-inv-item>
    </div>
    <div class="col-md-3 p-1 max-h-50p">
      <div class="col-md-12 p-0 bg-white rounded overflow-hidden">
        <mat-toolbar color="primary">
          <span class="text-uppercase">Inventory</span>
        </mat-toolbar>
        <div class="col-md-12 p-1">
          <app-inventory-items-interactive class="text-dark-imp" #iItemIC></app-inventory-items-interactive>
        </div>
      </div>
    </div>
  </div>
</div>