<div class="col-md-12 container text-white text-center pt-5">
  <div class="col-md-12 display-1 mt-5 pt-5">
    404
  </div>
  <div class="display-4 col-md-12">
    PAGE NOT FOUND
  </div>
  <div class="col-md-7 dblock mx-auto mt-5">
    <small>
      You can go back and try the following pages.
    </small>
  </div>
  <div class="col-md-7 row m-0 d-block mx-auto justify-content-center mt-3">
    <button mat-raised-button class="col-md-2 font-weight-bold mr-1" (click)="navigate('')">
      Home
    </button>
    <button mat-raised-button class="col-md-2 font-weight-bold ml-1" color="primary" (click)="navigate('about')">
      About
    </button>
  </div>
</div>