<div class="flex-fill p-0 bg-dark-bl-transl h-100 rounded overflow-hidden">
  <mat-toolbar>
    <mat-toolbar-row>
      <span class="text-uppercase">inventory</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="p-1 align-self-stretch row m-0 inv-section">
    <div *ngFor="let i of inventoryStats" class="col-md-12 text-white align-self-stretch px-1 p-2 text-white cursor-pointer react-on-hover react-white">
      <div class="col-md-12 p-2">
        <mat-icon class="ml-2 mr-3 vertical-align-middle">
          {{i.icon}}
        </mat-icon>
        <span class="vertical-align-middle">
          {{i.label}}
        </span>
        <span class="vertical-align-middle float-right">
          <small class="fs-1_25">
            {{i.remaining}}
          </small>
        </span>
      </div>
    </div>
  </div>
</div>