<div class="flex-fill p-0 bg-dark-bl-transl h-100 rounded overflow-hidden">
  <mat-toolbar class="col-md-12">
    <mat-toolbar-row class="col-md-12">
      <span class="text-uppercase vertical-align-middle">inventory</span>
      <button mat-mini-fab class="vertical-align-middle float-right r-0 position-absolute" (click)="goToAddInventoryItem()">
        <mat-icon>
          add
        </mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="p-1 align-self-stretch row m-0 inv-section">
    <div *ngIf="inventoryStats.length === 0" class="text-white p-2">
      Your inventory is currently empty
    </div>
    <div *ngFor="let i of inventoryStats" class="col-md-12 text-white align-self-stretch px-1 p-2 text-white cursor-pointer react-on-hover react-white inv-item mb-1">
      <div class="col-md-12 p-2">
        <div class="col-md-12 m-0 p-0">
          <mat-icon class="ml-2 mr-3 vertical-align-middle">
            all_inbox
          </mat-icon>
          <span class="vertical-align-middle">
            {{capitalizeOnGaps(i.name)}}
          </span>
          <span class="vertical-align-middle float-right">
            <small class="fs-1_25">
              {{i.quantity}}
            </small>
          </span>
        </div>
        <div class="py-1 px-3">
          <small>
            <div *ngIf="i.empty >= 0">
              Empty: {{i.empty}}
            </div>
            <div>
              Type:
              <span *ngIf="i.consumer === 1">
                Consumer Product
              </span>
              <span *ngIf="i.rental === 1">
                Rental (Charged daily)
              </span>
              <span *ngIf="i.rental === 2">
                Rental (Charged hourly)
              </span>
              <span *ngIf="i.rental === 3">
                Rental (Charged monthly)
              </span>
            </div>
          </small>
        </div>
        <div class="col-md-12">
          <span class="float-right">
            <button #item{{i.item_id}} mat-mini-fab class="bg-secondary text-white" (click)="deleteInventoryItem(i.item_id)">
              <mat-icon>
                delete
              </mat-icon>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>