<div class="flex-fill p-0 bg-dark-bl-transl rounded overflow-hidden">
  <mat-toolbar class="col-md-12">
    <mat-toolbar-row class="col-md-12">
      <span class="text-uppercase vertical-align-middle">inventory</span>
      <button mat-mini-fab class="vertical-align-middle float-right r-0 position-absolute" (click)="goToAddInventoryItem()">
        <mat-icon>
          add
        </mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-inventory-items-interactive></app-inventory-items-interactive>
</div>