.fc-icon {
    left: -2.5rem;
    color: #607d8b;
}
.subPack-container {
}
.hov-dis-rad {
    transition: border-radius 300ms
}
.hov-dis-rad:hover {
    border-radius: 0px!important;
}
.packContainer {
    max-height: 1.5rem;
}