<mat-horizontal-stepper labelPosition="bottom" #stepper>
  <mat-step [stepControl]="yourInfoFormGroup">
    <form class="d-block mx-auto" [formGroup]="yourInfoFormGroup">
      <ng-template matStepLabel>
        <div>Profile</div>
        <small>Your Information</small>
      </ng-template>
      <mat-form-field class="ml-5">
        <mat-icon class="position-absolute fc-icon">person</mat-icon>
        <input matInput placeholder="First name" formControlName="firstName" required>
      </mat-form-field>
      <mat-form-field class="pl-3">
        <input matInput placeholder="Last name" formControlName="lastName" required>
      </mat-form-field>
      <br>
      <mat-form-field class="ml-5">
        <mat-icon class="position-absolute fc-icon">person_outline</mat-icon>
        <input matInput placeholder="Account Username" formControlName="username" required>
      </mat-form-field>
      <mat-form-field class="pl-3">
        <input matInput placeholder="Password" type="password" formControlName="password" required autocomplete="off">
      </mat-form-field>
      <br>
      <mat-form-field class="ml-5">
        <mat-icon class="position-absolute fc-icon">contacts</mat-icon>
        <input matInput placeholder="Email" formControlName="email" required>
      </mat-form-field>
      <mat-form-field class="pl-3">
        <input matInput placeholder="Phone" formControlName="phone" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="companyFormGroup" optional>
    <form class="d-block mx-auto" [formGroup]="companyFormGroup">
      <ng-template matStepLabel>
        <div>Company</div>
        <small>Your WorkPlace's profile</small>
      </ng-template>
      <mat-form-field class="ml-5">
        <mat-icon class="position-absolute fc-icon">business</mat-icon>
        <input matInput placeholder="Company Name" formControlName="name" >
      </mat-form-field>
      <mat-form-field class="pl-3">
        <mat-select #posSelect placeholder="Your Position" (selectionChange)="selectPosition(posSelect)">
          <mat-option *ngFor="let pos of companyPositions" [value]="pos.value">
            {{pos.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field class="ml-5">
        <mat-icon class="position-absolute fc-icon">group</mat-icon>
        <input matInput placeholder="Number of Employees" formControlName="employeeCount" type="number" min="0" >
      </mat-form-field>
      <mat-form-field *ngIf="showShareInp" class="pl-3">
        <input matInput placeholder="Your Share" formControlName="yourShare" type="number" min="0" >
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      <div>Package</div>
      <small>Subscription</small>
    </ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="registerMe()">Register</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>