<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button id="side-nav-button" mat-mini-fab class="bg-transparent shadow-none mr-2 text-white d-none" (click)="toggleSideNav()">
            <mat-icon>
                menu
            </mat-icon>
        </button>
        <img src="../assets/img/logo.png" class="header-logo" />
        <span>
            ULSERP
        </span>
        <span class="col-md-10 text-right">
            <button id="logout-button" mat-raised-button class="bg-white d-none" (click)="logout()">
                <mat-icon class="mr-1">
                    input
                </mat-icon>
                <span>
                    LOGOUT
                </span>
            </button>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container #sideNavContainer id="sideNavContainer" class="example-container col-md-3 position-absolute p-1 shadow sidenav-container">
    <mat-sidenav-content>
        <mat-list role="list" class="p-0">
            <mat-list-item id="{{r.path}}" role="listitem" class="p-0 pl-2 pr-2 cursor-pointer sidenav-item" *ngFor="let r of appRoutes">
                {{ r.name }}
            </mat-list-item>
        </mat-list>
    </mat-sidenav-content>
</mat-sidenav-container>
<div class="col-md-9 position-absolute mat-side-nav-overlay cursor-pointer" (click)="dismissSideNav()"></div>
<div class="col-md-12 p-1">
    <router-outlet></router-outlet>
</div>