<div class="col-md-12 container vertical-scroll" [style.height]="maxHeight">
    <div *ngIf="dateToday && dateFirst" class="col-md-12 text-right pb-0 pt-1 px-3 text-white cursor-pointer">
        <!-- <span class="mr-2">{{ dateFirst }}</span>
        <small>to</small> -->
        <span class="ml-2">{{ dateToday }}</span>
    </div>
    <div class="col-md-12 px-2 pb-2 pt-0 row m-0">
        <div class="col-md-6 pr-0 pl-1 pt-1 pb-1 d-inline-block">
            <app-sales-section></app-sales-section>
        </div>
        <div class="col-md-3 pr-0 pl-1 pt-1 pb-1 d-inline-block">
            <app-inventory-section></app-inventory-section>
        </div>
        <div class="col-md-3 pr-0 pl-1 pt-1 pb-1 d-inline-block">
            <div class="col-md-12 p-0 mx-0 mt-0 mb-1 h-auto bg-white rounded">
                <mat-toolbar color="primary">
                    <span class="text-uppercase">sell / rent-out</span>
                </mat-toolbar>
                <div class="col-md-12 p-1">
                    <mat-list class="p-0">
                        <mat-list-item class="text-uppercase hoverableItem cursor-pointer" matRipple (click)="tryASell('s')">
                            <span>
                                sell
                            </span>
                            <mat-icon class="float-right r-1r position-absolute">
                                keyboard_arrow_right
                            </mat-icon>
                        </mat-list-item>
                        <mat-list-item class="text-uppercase hoverableItem cursor-pointer" matRipple (click)="tryASell('r')">
                            <span>
                                rent
                            </span>
                            <mat-icon class="float-right r-1r position-absolute">
                                keyboard_arrow_right
                            </mat-icon>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
            <app-sales-chart></app-sales-chart>
        </div>
    </div>
</div>