<div class="col-md-12 container vertical-scroll" [style.height]="maxHeight">
    <div *ngIf="dateToday && dateFirst" class="col-md-12 text-right pb-0 pt-2 px-3 text-white cursor-pointer">
        <span class="mr-2">{{ dateFirst }}</span>
        <small>to</small>
        <span class="ml-2">{{ dateToday }}</span>
    </div>
    <div class="col-md-12 p-2 row m-0">
        <div class="col-md-6 pr-0 pl-1 pt-1 pb-1 d-inline-block">
            <div class="flex-fill bg-lgreen">
                <mat-toolbar>
                    <mat-toolbar-row>
                        <span>Sales' Orders</span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <div class="p-1 pl-2 pr-2 align-self-stretch"></div>
            </div>
        </div>
        <div class="col-md-3 pr-0 pl-1 pt-1 pb-1 d-inline-block">
            <div class="flex-fill p-1 pl-2 pr-2 bg-lgreen">
                lorem ipsum
            </div>
        </div>
        <div class="col-md-3 pr-0 pl-1 pt-1 pb-1 d-inline-block">
            <div class="flex-fill p-1 pl-2 pr-2 bg-lgreen">
                lorem ipsum
            </div>
        </div>
    </div>
</div>