@import '../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css';

@font-face{
    src: url('./assets/fonts/proximaNovaLight.ttf');
    font-family: proximaNova;
}

.font-proxima-nova {
    font-family: proximaNova!important;
}

*, h1, h2, h3, h4, h5, input, button{
    font-family: proximaNova;
}
*, *:active, *:focus{
    -webkit-touch-callout: none!important;
    user-select: none!important;
    outline: none!important;
}
html, body { height: 100%; }
body {
    margin: 0; font-family: proximaNova, Roboto, "Helvetica Neue", sans-serif;
}

body.backed {
    background: url('./assets/img/homeBackMin.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

body.backed.active {
    background: url('./assets/img/homeBack.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.vertical-align-middle {
    vertical-align: middle!important;
}

.cursor-pointer {
    cursor: pointer;
}

.horizontal-scroll {
    overflow-x: auto!important;
}

.vertical-scroll {
    overflow-y: auto!important;
}

.bg-lgreen {
    background-color: #5ca209;
}